@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');


:root {
    --primary-color: #03045E;
    --secondary-color: #0077b6;
    --accent1-color: #00b4d8;
    --accent2-color: #90e0ef;
    --background-color: #ffffff; 
    --paragraph-font: 'Open Sans', sans-serif;

    --nav-link-color: #ffffff;
    --nav-background-color: #396e94;
    --nav-hover-link-color: #03045E;
    --nav-hover-background-color: #CAF0F8;
}

body {
    font-family: var(--paragraph-font);
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--background-color);
    color: var(--primary-color);
}

h1 {
    color: var(--nav-link-color);
}

.h1contact{
    color: black;
}

h2, h3 {
    color: black;
}

p {
    color: black;
}

header {
    display: flex ;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--accent1-color);
    color: var(--primary-color);
    padding: 20px;
    border-radius: 10px;

}

header .logo {
    width: 80px;
    height: auto;
    margin-bottom: 10px;
    border-radius: 40px;
    max-width: 80%;
    margin-right: 100px;
    border: #000000;
    border-style: solid;

}

.nav_head{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    background-color: #008c9e;
}
nav {
    display: flex;
    justify-content: flex-end;
    border-radius: 8px;

}
@media screen and (max-width: 768px) {
    header {
        padding: 10px;
    }
}

.nav_head a {
    display: block;
    color: #ffffff;
    text-decoration: none;
    padding: 8px 80px;
    transition: background-color 0.3s, color 0.3s;
    font-size: 15px;
    margin: 10px;
    background-color: #005f6b;
    border-radius: 8px;

}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
    font-weight: 700;
}

main {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    background-color: var(--background-color);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.company-info {
    background-color: #f9f9f9;
    border: 2px solid #0077b6;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.company-info p {
    margin: 5px 0;
}

.map iframe {
    width: 100%;
    height: 450px;
    border: 0;
    border-radius: 10px;
}

.employees {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.employee {
    text-align: center;
}
.employee figcaption {
    margin-top: 10px;
    font-weight: bold;
    color: black;
}

.employee img {
    text-align: center;
    background-color: #f9f9f9;
    padding: 10px;
    border: 2px solid #0077b6;
    border-radius: 10px;
    width: 30%;
}

.contact-form {
    background-color: #f9f9f9;
    border: 3px solid #0077b6;
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    margin: 20px auto
}

.contact-form label {
    display: block;
    margin: 10px 0 10px;
    
}


.contact-form input[type="radio"],
.contact-form input[type="checkbox"] {
    display: flex;
    justify-content: flex-end;
    height: auto;
    width: 1000px;
}

.contact-form input,
.contact-form textarea {
    width: calc(100% - 22px);
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    
}

.contact-form button {
    width: calc(100% - 22px);
    display: block;
    width: 100%;
    padding: 10px;
    margin: 20px; 
    background-color: var(--primary-color);
    color: var(--nav-link-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
}

.contact-form button:hover {
    background-color: var(--secondary-color);
}


.hero {
    display: grid;
    place-items: center;
    position: relative;
    text-align: center;
    color: var(--nav-link-color);
}


.hero-img {
    grid-area: 1/1; 
    width: 100%;
    height: auto;
    z-index: 1;
    object-fit: cover;
    border-radius: 10px;
}

.hero h1 {
    position: absolute;
    top: 20px; 
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    z-index: 2;
    font-size: 2em;
    margin: 0;
    border-radius: 8px;
}


.hero article {
    grid-area: 1/1;
    z-index: 2;
    position: relative;
    background-color: rgba(236, 236, 236, 0.8);
    padding: 10px;
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
    overflow: hidden;
    font-size: 1em;
    box-sizing: border-box;

}
@media (max-width: 768px) {
    .hero h1 {
        font-size: 1.5em; 
        padding: 8px 16px; 
    }
    
    .hero article {
        padding: 8px; 
        font-size: 0.9em; 
        border-radius: 10px;
    }
}

@media (max-width: 480px) {
    .hero h1 {
        font-size: 1.2em; 
        padding: 6px 12px; 
    }
    
    .hero article {
        padding: 6px; 
        font-size: 0.8em; 
    }
}
.hero  h2 {
    display: grid;
    font-size: 1.5em; 
    color: var(--primary-color);
    margin-bottom: 10px;
    justify-items: start ;
}
article img {
    max-width: 100%;
    float: right;
    margin: 0 auto;
    width: 250px;
    height: auto;
    display: block;
    padding: 2px;
    border: solid 1px #005f6b;
    border-radius: 5px;
}

.history, .adventures {
    background-color: rgba(236, 236, 236, 0.8);
    padding: 20px;
    margin: 20px 0;
}

.adventures figure {
    display: inline-block;
    width: 100%; 
    max-width: 250px; 
    margin: 0 auto 10px;
}

.adventures img {
    width: 90%;
    height: auto;
    padding: 2px;
    border: solid 2px #005f6b;
    border-radius: 5px;
    margin-left: 10px;
}

footer {
    background-color: #00b4d8;
    color: var(--nav-link-color);
    text-align: center;
    padding: 20px;
    position: relative;
    border-radius: 9px;


}

footer p {
    margin: 0;
    color: #000000;
}

.sociallinks {
    position:absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
}

.sociallinks a {
    display: inline-block;
    margin: 0 10px;
    display: block;
    color: #ffffff;
    text-decoration: none;
    padding: 5px 30px;
    transition: background-color 0.3s, color 0.3s;
    font-size: 15px;
    margin: 10px;
    background-color: #005f6b;
    border-radius: 8px;

}

.sociallinks img {
    width: 25px;
    height: 25px;
}

@media screen and (max-width: 768px) {
    .sociallinks {
        position: relative; 
        top: auto;
        right: auto;
        transform: none;
        margin-top: 10px; 
        justify-content: center; 
    }
}

/** Trips css **/


.hero_trip {
    background-color: var(--accent2-color);
    text-align: center;
    padding: 2em 0;
    border-radius: 10px;
    margin-bottom: 2em;
}

.hero_trip h2 {
    margin: 0;
    color: var(--primary-color);
}

.hero_trip p {
    margin: 1em 0;
}

.cta-button {
    display: inline-block;
    background-color: var(--accent1-color);
    color: var(--background-color);
    padding: 0.5em 1em;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    margin: 1em 0;
    display: block;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.cta-button:hover {
    background-color: var(--accent2-color);
    color: var(--primary-color);
}

.featured-trips {
    margin-bottom: 2em;
}

.featured-trips h2 {
    text-align: center;
    color: var(--secondary-color);
}

.trip-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
}

.trip-card {
    background-color: var(--accent2-color);
    border-radius: 10px;
    border: 1px solid #e0e0e0;
    padding: 1em;
    text-align: center;
    width: calc(33% - 2em);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 1em;
}

.trip-card h3 {
    color: var(--primary-color);
}

.trip-card img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.trip-card p {
    color: var(--primary-color);
}

.all-trips h2 {
    text-align: center;
    color: var(--secondary-color);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table thead {
    background-color: var(--primary-color);
    color: var(--background-color);
}

table th, table td {
    padding: 0.5em;
    text-align: left;
    border: 1px solid var(--accent1-color);
}

table tbody tr:nth-child(even) {
    background-color: var(--accent2-color);
}

/** Home css **/


.hero_home {
    position: relative;
    text-align: center;
    color: white;
}

.hero_home img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1em;
    border-radius: 10px;
}

.newsletter {
    background-color: var(--accent2-color);
    padding: 2em;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 2em;
}

.newsletter h2 {
    color: var(--primary-color);
}

.newsletter form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.newsletter label {
    margin: 0.5em 0;
    color: var(--primary-color);
}

.newsletter input {
    padding: 0.5em;
    margin: 0.5em 0;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
}

.newsletter button {
    background-color: black;
    color: var(--background-color);
    padding: 0.5em 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.newsletter button:hover {
    background-color: var(--accent2-color);
    color: var(--primary-color);
}

.cta {
    text-align: center;
    margin-bottom: 2em;
}

.cta h2 {
    color: var(--secondary-color);
}

.cta-button {
    display: inline-block;
    background-color: black;
    color: var(--background-color);
    padding: 0.5em 1em;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    margin: 1em 0;
}

.cta-button:hover {
    background-color: var(--accent2-color);
    color: var(--primary-color);
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1em;
}


.grid-item {
    background-color: var(--accent2-color);
    padding: 1em;
    border-radius: 10px;
    text-align: center;
}

.grid-item img {
    max-width: 100%;
    border-radius: 5px;
}

.grid-item p {
    color: var(--primary-color);
}

.grid {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
}

.grid-item {
    border: 1px solid #ddd;
    padding: 20px;
    text-align: center;
}
