@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
    --primary-color: #03045E;
    --secondary-color: #0077b6;
    --accent1-color: #00b4d8;
    --accent2-color: #90e0ef;
    --background-color: #ffffff; 
    --paragraph-font: 'Open Sans', sans-serif;

    --nav-link-color: #ffffff;
    --nav-background-color: #396e94;
    --nav-hover-link-color: #03045E;
    --nav-hover-background-color: #CAF0F8;
}

body {
    font-family: var(--paragraph-font);
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--background-color);
    color: var(--primary-color);
}

h1 {
    color: var(--nav-link-color);
}


h2, h3 {
    color: var(--secondary-color);
}

p {
    color: black;
}

header {
    display: grid;
    grid-template-columns: auto 1fr 1fr;
    align-items: center;
    background-color: var(--accent1-color);
    color: var(--primary-color);
    padding: 20px;
}

header .logo {
    width: 150px;
    height: auto;
}

.navhead{
    background-color: var(--nav-background-color);
}
nav {
    display: flex;
    justify-content: flex-end;

}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 8px 30px;
    transition: background-color 0.3s, color 0.3s;
    font-size: 15px;
    margin: 10px;
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
    font-weight: 700;
}

.hero {
    display: grid;
    place-items: center;
    position: relative;
    text-align: center;
    color: var(--nav-link-color);
}


.hero-img {
    grid-area: 1/1; 
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
}

.hero h1 {
    position: absolute;
    top: 20px; 
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    z-index: 1;
}

.hero article {
    grid-area: 1/1;
    z-index: 1;
    position: absolute;
    background-color: rgba(236, 236, 236, 0.8);
    padding: 10px;
    max-width: 900px;
    margin: 0 auto;
    overflow: hidden;
}

.hero  h2 {
    display: grid;
    font-size: 1.5em; 
    color: var(--primary-color);
    margin-bottom: 10px;
    justify-items: start ;
}
article img {
    float: right;
    margin: 0 0 10px 10px;
    width: 250px;
    height: auto;
}

.history, .adventures {
    background-color: rgba(236, 236, 236, 0.8);
    padding: 20px;
    margin: 20px 0;
}

.adventures figure {
    display: inline-block;
    width: 18%;
    margin: 1%;
}

.adventures img {
    width: 100%;
    height: auto;
}

footer {
    background-color: var(--accent1-color);
    color: var(--nav-link-color);
    text-align: center;
    padding: 20px;
    position: relative;
}

footer p {
    margin: 0;
}

.sociallinks {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    display: flex;
}

.sociallinks a {
    margin-left: 10px;
}

.sociallinks img {
    width: 40px;
    height: 40px;
}