@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
:root {
    --primary-color: #03045E;
    --secondary-color: #0077b6;
    --accent1-color: #00b4d8;
    --accent2-color: #90e0ef;

    --heading-font: 'Roboto', sans-serif;
    --paragraph-font: 'Open Sans', sans-serif;

    --nav-link-color: #ffffff;
    --nav-background-color: #396e94;
    --nav-hover-link-color: #a43312;
    --nav-hover-background-color: #e7c24f;
}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--accent2-color);
    color: var(--primary-color);
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header {
    background-color: var(--accent1-color);
    color: var(--primary-color);
    padding: 20px;
    text-align: center;
}

p {
    padding: 25px;
}

nav {
    background-color: var(--nav-background-color);
    text-align: center;
    display: flex;
    font-size: 1.2rem;

}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a: :visited{
    color: var(--nav-link-color)
}
nav a:hover {
    background-color: var(--nav-hover-background-color);
    color: var(--nav-hover-link-color);
}

footer {
    background-color: var(--secondary-color);
    color: var(--accent2-color);
    text-align: center;
    padding: 10px 0;
}