nav{
    background-color: #959494;
    color: white;
    padding: 10px;
    text-align: center;
}
nav a{
    padding: 10px 15px;
}
main {
    max-width: 840px;
}
h1{
    color: #333;
    font-weight: bold;
    font-size: 36px;
}

aside {
    width: 300px;
    margin: 20px;
    border: 1px solid #cccccc;
    padding: 15px;
    background-color: #f9f9f9;
    color: #333333;
    text-align: center;
}
aside img {
    width: 200px;
    height: auto; 
}
main img {
    width: 150px;
    height: auto;
}
p {
    padding: 0; 
}

footer {
    margin-top: 15px;
    border-top: 2px solid #cccccc;
    text-align: center;
}