
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    background-color: #959494;
    color: white;
    padding: 10px;
    text-align: center;
}
nav a{
    padding: 10px 15px;
}
main {
    max-width: 840px;
}
h1{
    color: #333;
    font-weight: bold;
    font-size: 36px;
}

aside {
    width: 300px;
    margin: 20px;
    border: 1px solid #cccccc;
    padding: 15px;
    background-color: #f9f9f9;
    color: #333333;
    text-align: center;
    position: relative; 
}
aside h2{
    position: absolute;
    left:140px; 
    bottom: 270px; 
    color: aliceblue;
}
aside img {
    width: 200px;
    height: auto; 
}
main img {
    width: 150px;
    height: auto;
    border: 1px solid skyblue;
    padding: 2px;
    box-shadow:  0 0 38px gray;
    float: right;
}
p {
    padding: 0; 
}

footer {
    margin-top: 15px;
    border-top: 2px solid #cccccc;
    text-align: center;
}
/*Class Selectors*/
.box {
    margin: 1rem;
    border:  1px solid rgb(206, 204, 204);
    padding: 1rem;
    background-color: #c4c0c0;
    color: #2d2c2c;
}

aside{
    width: 20em;
    text-align: center;
}
